@page
@model E_Procurement.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_metronicLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CdfUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.Fname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.Lname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.ConsituencyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.ConsituencyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.RoleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.RoleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CdfUser.DepartmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CdfUser.DepartmentId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CdfUser.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
