@page
@model E_Procurement.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].ConsituencyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CdfUser[0].DepartmentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CdfUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsituencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
