@page
@model E_Procurement.Pages.Department.CreateModel

@{
    ViewData["Title"] = "Create";
        Layout = "~/Pages/Shared/_metronicLayout.cshtml";
}

<div class="card o-hidden border-0 shadow-lg col-lg-12">
    <div class="card-header">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Departments</h1>
        </div>
    </div>
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">


            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CdfDepartments.Department" class="control-label"></label>
                        <input asp-for="CdfDepartments.Department" class="form-control" />
                        <span asp-validation-for="CdfDepartments.Department" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display:none">
                        <label asp-for="CdfDepartments.DateCreated" class="control-label"></label>
                        <input asp-for="CdfDepartments.DateCreated" class="form-control" />
                        <span asp-validation-for="CdfDepartments.DateCreated" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CdfDepartment[0].Department)
                            </th>
                            <th>
                              Created
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CdfDepartment)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a asp-page="Index">Back to List</a>
        </div>
        </div>

    </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
