@page
@model E_Procurement.Pages.AssetType.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>

    table{

        width:1800px
    }
</style>
<div class="card o-hidden border-0 shadow-lg col-lg-12">
    <div class="card-header">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Assets</h1>
        </div>
    </div>
    <div class="card-body p-0">

        <div class="row"></div>
       
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CdfAssetType[0].AssetType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CdfAssetType[0].CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CdfAssetType[0].CreatedBy)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CdfAssetType)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>