@page
@model E_Procurement.Pages.TenderProcedure.IndexModel

@{
    ViewData["Title"] = "Index";
        Layout = "~/Pages/Shared/_metronicLayout.cshtml";
}

<div class="card o-hidden border-0 shadow-lg col-lg-12">
    <div class="card-header">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Procedures</h1>
        </div>
    </div>
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Tender Procedure
                            </th>
                            <th>
                                Number Of Bidders
                            </th>
                            <th>
                                Date Created
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CdfTenderProcedure)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenderProcedure)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberofBidders)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
</div>
</div>
</div>
