@page
@model E_Procurement.Pages.Levels.IndexModel

@{
    ViewData["Title"] = "Index";
     Layout = "~/Pages/Shared/_metronicLayout.cshtml";
}

<div class="card o-hidden border-0 shadow-lg col-lg-12">
    <div class="card-header">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Level</h1>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Level
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CdfLevels[0].DateCreated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CdfLevels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LevelInOrganization)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
</div>